<style>
	.login_form {
	  width: 420px;
	  height: 56px;
	  padding-top: 30px;
	  position:absolute;
	  left: 837px;
	  top: 137px;
	  border: double;
	  -webkit-border-radius: 12px 21px 32px 12px;
	  border-radius: 12px 21px 32px 12px;
	  text-align: center ;
	}

	.register {
	  width: 141px;
	  height: 263px;
	  padding-top:60px;
	  position:absolute;
	  left: 837px;
	  top: 257px;
	  border: double;
	  -webkit-border-radius: 12px 21px 32px 12px;
	  border-radius: 12px 21px 32px 12px;
	  padding: 40px;
	  text-align: center ;
	}
	.body
</style>
<html>
	<body bgcolor="#7F577A">
		<div class="login_form">
				<%= form_tag('/sessions', :action => "create") do %>
					<%= text_field_tag :login, nil, :placeholder => "Login", required: true, :class => "textox"%>
					<%= password_field_tag :password, nil, placeholder: "Password", required: true, :class => "textox" %>
					<%= submit_tag "Sign in", :class => "Button" %>
				<%end%>
				<%if flash[:bad_login]%>
					<b>Wrong login or password, please try again.</b>
				<%end%>
		</div>

		<div class="register">
			<%=form_tag('/users', action: :create) do %>
					<b>Login</b><br />
					<%= text_field_tag :login, nil, :placeholder => "Login", required: true, :class => "textox" %><br /><br />
					<b>Email</b><br />
					<%= text_field_tag :email, nil, :placeholder => "Email", required: true, :class => "textox" %><br /><br />
					<b>Password</b><br />
					<%= password_field_tag :password, nil, :placeholder => "Password", required: true, :class => "textox" %><br /><br />
					<b>Confirm Password</b><br />
					<%= password_field_tag :password_conf, nil, :placeholder => "Password", required: true, :class => "textox"%><br /><br />
				<%= submit_tag "Save", :class => "Button"%>
			<%end%>

			<%if flash[:notice]%>
				<%= flash[:notice]%>
			<%end%>
		</div>
	<body>
</html>