<%= stylesheet_link_tag "application", :media => "all" %>




</head>
	<body>
		<div id="container">
			<%= render "/layouts/header" %>
			<%= render "/layouts/nav", arr_url_nav: [] %>
			<div id="body" class="width">
				<section id="content">
					<article>
						<%= render '/users/form'%>
					</article>
				</section>
				<%= render "layouts/sidebar" %>
				<%= render "/layouts/footer" %>
			</div>
		</div>
	</body>
</html>