
<%# TODO Change the code bellow to a global js file%>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
function getValue(id){
	return $("#"+id)[0].value 
}

function requestTo(){
	var value = { login: getValue('log_login'), password: getValue('log_password') }
	$.ajax({
	  type: "GET",
	  url: "main/1",
	  data: value
	})
}
</script>

<html>
	<body>
		<div id="header" style=' position:absolute; left: 850px; top: 17px;'>
			<%= form_tag('/main/1/home_page') do %>
				<b>Login</b> <%= text_field_tag :login, nil, :placeholder => "Login" %>  <b>Password</b> <%= password_field_tag :password, nil, placeholder: "Password" %>
				<%= submit_tag "Sign in" %>
			<%end%>
			<%if params[:bad_login] == "1"%>
				Wrong login or password, please try again.
			<%end%>
		</div>

		<div class="register">
			<%=form_for :user do |u|%>
					<b>Login</b><br />
					<%= text_field_tag :login, nil, :placeholder => "Login"%><br /><br />
					<b>Email</b><br />
					<%= text_field_tag :email, nil, :placeholder => "Email"%><br /><br />
					<b>Password</b><br />
					<%= password_field_tag :password, nil, :placeholder => "Password"%><br /><br />
					<b>Confirm Password</b><br />
					<%= password_field_tag :password_conf, nil, :placeholder => "Password"%><br /><br />
				<%= u.button "Confirm"%>
			<%end%>
		</div>
	<body>
</html>