<table class="altrowstable" id="alternatecolor">
	<tr>
		<th>Subject</th><th>From</th><th>Date</th><th>Status</th>
	</tr>
	<% @received_messages.each do |message|%>
		<tr id="mes-<%= message.id %>">
			<td>
				<a href="/messages/<%= message.id %>"><%= message.subject %></a>
			</td>
			<td>
				<!-- Remove this and use relation -->
				<% user = User.find(message.sender_id) %>
				<a href="/users/<%= user.id%>"><%= user.login.capitalize %></a>
			</td>
			<td>
				<%= message.created_at.to_date %>
			</td>
			<td>
				<% if message.read_at %>
					Read at <%= message.created_at.to_date %>
				<% else %>
					<b>New</b>
				<% end %> 
			</td>
		</tr>
	<%end%>
</table>