<h2>Create new account</h2><br>

<%= form_for(@user) do |f| %>
  Login<br />
  <%= f.text_field :login, :placeholder => "Login", required: true %><br /><br />
  Email<br />
  <%= f.text_field  :email, :placeholder => "Email", required: true %><br /><br />
  Password<br />
  <%= f.password_field  :password, :placeholder => "Password", required: true %><br /><br />

  <%= f.submit "Create account", :class => "Button"%>
<%end%>

<%= flash[:notice] if flash[:notice]%>