<br />
<html>
	<body>
		<div class="top-img">
		</div>
		<div class="button-logout" >
			<%= button_to("Logout", {controller: :sessions, action: :logout}, :class=>"Button" )%>
		</div>

		

		<div class="new_content">
			<b>New Credential</b><br /><br />
			<%= form_tag("/credentials/", method: :post, action: :create) do%>
				<b>Login</b><br />
				<%= text_field_tag :login, nil, placeholder: "Login", required: true, :class => "textox" %><br /><br />
				<b>Password</b><br />
				<%= password_field_tag :password, nil, placeholder: "Password", required: true, :class => "textox" %><br /><br />
				<b>Site</b><br />
				<%= text_field_tag :site, nil, placeholder: "Site", required: true, :class => "textox" %><br /><br />
				<%= submit_tag "Save", :class => "Button"%>
			<%end%>

			<%if flash[:notice]%>
				<%= flash[:notice]%>
			<%end%>
		
		</div>
		
		<div style='color:#fff;background-color: red; position:absolute; left: 550px; top: 17px;'>

			<br />

		</div>

		<center>
			<div class="center-content-credentials">
				<%= form_tag("/users/#{params[:id]}", :method => :get) do%>
					<select name="type" class="textox-combo">
						<option value="0">Search By</option>
						<option value="1">Site</option>
						<option value="2">Login</option>
					</select>
					<%= text_field_tag :search, nil, placeholder: "Search", :class => "textox" %>
					<% hidden_field_tag :type, nil, :value => "1"%>
					<%= submit_tag "SEARCH!", :class => "Button" %>
				<%end%>
				<br/><br/>
				<table class="altrowstable" id="alternatecolor">
					<tr>
						<th>Site</th><th>Login</th><th>Password</th>
					</tr>
					<% @passwords.each do |p|%>
						<tr id="cred-<%= p.id %>">
							<td>
								<%= p.site%>
							</td>
							<td>
								<%= p.login%>
							</td>
							<td>
								<%= password_field_tag :password_edit, nil, :class => "stextox",  :value => p.password, :id => "password#{p.id}" %>
								<input type="button" value="Show" data-type="show" class="Button" onclick="switchPass()">
								<input type="button" value="Edit" onclick="alterPassword('<%=p.id%>');" class="Button"> 
								<input type="button" value="Delete" onclick="deleteData('<%=p.id%>');" class="Button">
							</td>
						</tr>
					<%end%>
				</table>
			</div>
		</center>
	<body>
<html>
