<!-- Javascript goes in the document HEAD -->
<script type="text/javascript">
function altRows(id){
	if(document.getElementsByTagName){  
		
		var table = document.getElementById(id);  
		var rows = table.getElementsByTagName("tr"); 
		 
		for(i = 0; i < rows.length; i++){          
			if(i % 2 == 0){
				rows[i].className = "evenrowcolor";
			}else{
				rows[i].className = "oddrowcolor";
			}      
		}
	}
}
window.onload=function(){
	altRows('alternatecolor');
}
</script>

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
</style>


<div style='color:#fff;background-color: a9c6c9; position:absolute; left: 20px; top: 17px;'>
New Password<br /><br />
<%= form_tag('/main/1/new_password', :remote=> true ) do%>
	Login<br />
	<%= text_field_tag :login, nil, placeholder: "Login"%><br /><br />
	Password<br />
	<%= password_field_tag :password, nil, placeholder: "Password"%><br /><br />
	Site<br />
	<%= text_field_tag :site, nil, placeholder: "Site"%><br/>
	<%= submit_tag "Save"%>

<%end%>
</div>
<div style='color:#fff;background-color: red; position:absolute; left: 550px; top: 17px;'>

	<br />

</div>

<center>
	<table class="altrowstable" id="alternatecolor">
		<tr>
			<th>Site</th><th>Login</th><th>Password</th>
		</tr>
		<% @passwords.each do |p|%>
			<tr>
				<td><%= p.site%></td><td><%= p.login%></td><td>*****</td>
			</tr>
		<%end%>
	</table>
</center>