<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>


function getValue(id){
	return $("#"+id)[0].value 
}


function alterPassword(id_password){
	var value = { password: getValue('password'+ id_password) }
	$.ajax({
	  type: "PUT",
	  url: "/credential/"+ id_password,
	  data: value
	})

}

function deleteData(id_password){
	var value = { password: getValue('password'+ id_password) }
	$.ajax({
	  type: "DELETE",
	  url: "/credential/"+ id_password,
	  data: value
	})
}
</script>


<style type="text/css">
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #161919;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color:#161919;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #161919;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
</style>
<br />
<html>
	<body>
		<div class="top-img">
		</div>
		<div class="button-logout" >
			<%= button_to :logout, controller: :main, action: :logout %>
		</div>

		

		<div class="new_content">
		<b>New Credential</b><br /><br />
		<%= form_tag("/credential/", method: :post, action: :create) do%>
			<b>Login</b><br />
			<%= text_field_tag :login, nil, placeholder: "Login"%><br /><br />
			<b>Password</b><br />
			<%= password_field_tag :password, nil, placeholder: "Password"%><br /><br />
			<b>Site</b><br />
			<%= text_field_tag :site, nil, placeholder: "Site"%><br/>
			<%= submit_tag "Save"%>
		<%end%>
		</div>
		<div style='color:#fff;background-color: red; position:absolute; left: 550px; top: 17px;'>

			<br />

		</div>

		<center>
			<div class="center-content-credentials">
				<%= form_tag("/user/#{params[:id]}", :method => :get) do%>
					<select name="type">
						<option value="0">Search By</option>
						<option value="1">Site</option>
						<option value="2">Login</option>
						<option value="3">Password</option>
					</select>
					<%= text_field_tag :search, nil, placeholder: "Search"%>
					<% hidden_field_tag :type, nil, :value => "1"%>
					<%= submit_tag "SEARCH!"%>
				<%end%>
				<br/><br/>
				<table class="altrowstable" id="alternatecolor">
					<tr>
						<th>Site</th><th>Login</th><th>Password</th>
					</tr>
					<% @passwords.each do |p|%>
						<tr>
							<td><%= p.site%></td><td><%= p.login%></td><td><%= text_field_tag :password_edit,nil , :style => "color: white; text-shadow: 1px 2px 3px rgba(0,0,0,0.2);", :value => p.password, :id => "password#{p.id}" %> <input type="button" value="Edit" onclick="alterPassword('<%=p.id%>');"> <input type="button" value="Delete" onclick="deleteData('<%=p.id%>');"></td>
						</tr>
					<%end%>
				</table>
			</div>
		</center>
	<body>
<html>
