<%
	credential = @new_credential if @new_credential
%>
<tr id="cred-<%= credential.id %>">
	<td>
		<%= credential.site %>
	</td>
	<td>
		<%= credential.login %>
	</td>
	<td>
		<%= form_for credential, remote: true  do |f| %>
			<%= f.password_field :password, value: credential.unsafe_password, id: "password-#{credential.id}" %>
			<%= f.submit 'Edit' %>
		<% end %>
		<%= button_tag 'Show', id: "btn-show-#{credential.id}", onclick: "showPassword(#{credential.id});" %>
		<%= button_tag 'Delete', onclick: "deletePassword(#{credential.id});" %>
	</td>
</tr>