<html>
<body>
<center>
	<div class=""><!--class="new_content" -->
		<b>New Credential</b><br /><br />
		<%= form_tag("/credentials/", method: :post, action: :create) do%>
			<b>Login</b><br />
			<%= text_field_tag :login, nil, placeholder: "Login", required: true, :class => "textox" %><br /><br />
			<b>Password</b><br />
			<%= password_field_tag :password, nil, placeholder: "Password", required: true, :class => "textox" %><br /><br />
			<b>Site</b><br />
			<%= text_field_tag :site, nil, placeholder: "Site", required: true, :class => "textox" %><br /><br />
			<%= submit_tag "Save", :class => "Button"%>
		<%end%>

		<%if flash[:notice]%>
			<%= flash[:notice]%>
		<%end%>
	</div>
</center>
</body>
</html>