<h3>Credentials</h3>

<fieldset>
	<div class="center-content-credentials">
		<%= form_tag(credentials_path) do %>
			<%= select_tag :category, options_for_select([ ['Search', '0'], ["Site", '1'], ['Login', '2'] ]) %>

			<%= text_field_tag :search, nil, placeholder: "Search", :class => "textox" %>

			<%= submit_tag "Search", :class => "Button" %>
		<% end %>

		<br/><br/>

		<table class="altrowstable" id="alternatecolor">
			<tr>
				<th>Site</th><th>Login</th><th>Password</th>
			</tr>

			<% @credentials_result.each do |credential|%>
				<tr id="cred-<%= credential.id %>">
					<td>
						<%= credential.site%>
					</td>
					<td>
						<%= credential.login%>
					</td>
					<td>
						<%= password_field_tag :password_edit, nil, value: credential.unsafe_password, id: "password-#{credential.id}" %>

						<%= button_tag 'Show', id: "btn-show-#{credential.id}", onclick: "showPassword(#{credential.id});" %>

						<%= button_tag 'Edit', onclick: "updatePassword(#{credential.id});" %>
						
						<%= button_tag 'Delete', onclick: "deletePassword(#{credential.id});" %>
					</td>
				</tr>
			<%end%>
		</table>
	</div>
</fieldset>





