<h3>Credentials List</h3>

<fieldset>
	<div class="center-content-credentials">
		<%= form_tag("/credentials/list", :method => :get) do%>
			<select name="type" class="textox-combo">
				<option value="0">Search By</option>
				<option value="1">Site</option>
				<option value="2">Login</option>
			</select>
			<%= text_field_tag :search, nil, placeholder: "Search", :class => "textox" %>
			<% hidden_field_tag :type, nil, :value => "1"%>
			<%= submit_tag "SEARCH!", :class => "Button" %>
		<%end%>
		<br/><br/>
		<table class="altrowstable" id="alternatecolor">
			<tr>
				<th>Site</th><th>Login</th><th>Password</th>
			</tr>
			<% @passwords.each do |p|%>
				<tr id="cred-<%= p.id %>">
					<td>
						<%= p.site%>
					</td>
					<td>
						<%= p.login%>
					</td>
					<td>
						<%= password_field_tag :password_edit, nil, :class => "stextox",  :value => p.password, :id => "password#{p.id}" %>
						<input type="button" id="spassword-<%= "#{p.id}"%>" value="Show" class="Button" onclick="switchPass(<%= "#{p.id}" %>);">
						<input type="button" value="Edit" onclick="alterPassword('<%=p.id%>');" class="Button"> 
						<input type="button" value="Delete" onclick="deleteData('<%=p.id%>');" class="Button">
					</td>
				</tr>
			<%end%>
		</table>
	</div>
</fieldset>