
	<h3>New Credential</h3>

<fieldset>
	<div class="new_content">
		<%= form_tag("/credentials/", method: :post, action: :create, remote: true) do%>
			<b>Login</b><br />
			<%= text_field_tag :login, nil, placeholder: "Login", required: true, :class => "textox" %><br /><br />
			<b>Password</b><br />
			<%= password_field_tag :password, nil, placeholder: "Password", required: true, :class => "textox" %><br /><br />
			<b>Site</b><br />
			<%= text_field_tag :site, nil, placeholder: "Site", required: true, :class => "textox" %><br /><br />
			<%= submit_tag "Save", :class => "formbutton"%>
		<%end%>
		<div id="response_form"></div>
	</div>
</fieldset>